/* Second bgColor #F5F4FA  */

:root {
  Main colors
  --mainBlue: #2196f3;
  --secondaryBlue: #188ce8;
  --mainGray: #757575;
  --mainBlack: #212121;
  ---black: #000000;
  --mainWhite: #ffffff;

  /* Bachgraund colors */
  --secondBg: #f5f4fa;
  --darkBg: #2f303a;

  /* Border color */
  --mainBorder: #eeeeee;
  --secondBorder: #ececec;

  /* Font family */
  --mainFont: "Roboto";
  --secondFont: "Raleway";

  /* Icon color */
  --mainIcon: #afb1b8;

  /* Transition */
  --timeFunction: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

/* Site style set */
/* *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--mainGray);
  background-color: var(--mainWhite);
  font-family: var(--mainFont), "Arial", sans-serif;
} */

/* .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: var(--mainGray);
} */

/* Link hover decoration */
/* .nav .link:hover,
.nav .link:focus, */
/* .auth .link:hover,
.auth .link:focus, */
/* .adress__link:hover,
.adress__link:focus {
  color: var(--mainBlue);
} */

/* Section component */
/* .section {
  padding: 94px 0; 
}

.section__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--mainBlack);
  margin: 0 0 50px 0;
}

.section--no-padding {
  padding-top: 0;
} */

/* BEM Sets */

/* Header section Start*/
/* .header {
  border-bottom: 1px solid var(--secondBorder);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* Auth */
/* .auth {
  display: flex;
  justify-content: end;
}

.auth.link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--mainGray);
}

.auth__item:not(:last-child) {
  margin-right: 50px;
}
.auth__link {
  display: flex;
  align-items: center;
  color: var(--mainGray);
} */

/* .auth__ico {
  margin-right: 10px;
  fill: currentColor;
}

.auth__ico--mail {
  width: 16px;
  height: 12px;
}

.auth__ico--phone {
  width: 10px;
  height: 16px;
}

.auth .link {
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--timeFunction);
} */

/* Nav */
/* .nav {
  display: flex;
  align-items: center;
}

.nav .link {
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--timeFunction);
}

.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__list .link {
  position: relative;
  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--mainBlack);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
} */

/* .nav__item .nav__link--current {
  color: var(--mainBlue);
}

.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--mainBlue);
} */

/* Logo */
/* .logo {
  display: inline-block;
  text-decoration: none;
  font-family: var(--secondFont);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--mainBlue);
}

.logo--nav {
  color: var(---black);
}

.logo--footer {
  color: var(--mainWhite);
} */

/* Header sction End */

/* Hero section Start*/
/* .hero {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/head.jpg");
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--mainWhite);
  margin: 0 0 30px 0;
} */

/* Button */
/* .btn {
  display: inline-block;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;

  font-family: var(--mainFont);
  color: var(--mainWhite);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  background-color: var(--mainBlue);
  border: 0;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--time) var(--timeFunction);
}

.btn--hover:hover,
.btn--hover:focus {
  background-color: var(--secondaryBlue);
} */

/* .footer__btn {
  display: flex;
  align-items: center;
  position: relative;

  padding: 10px 62px 10px 29px;
  margin: 0;
} */

/* Hero section End */

/* Features section Start*/
/* .features {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  width: 270px;
}

.features__icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--mainBlack);
  margin: 0 0 10px 0;
}

.features__text {
  line-height: 1.7;
  margin: 0;
} */
/* Features section End */

/* What are we doing section Start */
/* .do {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.do__item {
  position: relative;
}

.do__img {
  display: block;
}

.do__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 27px 0;
  margin: 0;

  color: #fff;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8); */
}
/* What are we doing section End */

/* Team section Start */
.section--team {
  background-color: var(--secondBg);
}

/* .team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team__item {
  text-align: center;
  padding-bottom: 30px;
  background: var(--mainWhite);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  display: block;
  margin: 0 auto 30px auto;
}

.team__content {
  margin: 0 0 16px 0;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--mainBlack);
  margin: 0 0 10px 0;
}

.team__text {
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
} */

/* Team smm block */
/* .team-smm {
  display: flex;
  margin: 0 32px 0;
}

.team-smm__item:not(:last-child) {
  margin-right: 10px;
}

.team-smm__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 0;

  color: var(--mainIcon);
  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: var(--time);
  transition-timing-function: var(--timeFunction);
}

.team-smm__link:hover {
  background-color: var(--mainBlue);
  color: var(--mainWhite);
} */
/* Team section End */

/* Clients section Start*/
/* .clients {
  display: flex;
  flex-wrap: wrap;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--mainIcon);
  border: 1px solid var(--mainIcon);
  border-radius: 4px;

  transition-property: color, border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timeFunction);
}

.clients__link:hover {
  color: var(--mainBlue);
  border: 1px solid var(--mainBlue);
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
} */
/* Clients section End */

/* Footer section Start*/
/* .footer {
  background-color: var(--darkBg);
  padding: 60px 0;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__item:first-child {
  margin-right: 70px;
}

.footer__item:last-child {
  margin-left: 93px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__title {
  font-size: 14px;
  line-height: 1.1;
  color: var(--mainWhite);
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
 */
/* Adress */
/* .adress {
  font-style: normal;
}

.adress__item:not(:last-child) {
  margin: 0 0 9px 0;
}

.adrss__list .link {
  line-height: 1.7;
  color: rgb(255, 255, 255, 0.6);
}

.adress__link {
  text-decoration: none;
  line-height: 1.7;
  color: var(--mainWhite);

  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--timeFunction);
}
 */
/* SMM block i footer */
/* .smm {
  display: flex;
}

.smm__item:not(:last-child) {
  margin-right: 10px;
}

.smm__link {
  display: block;
  text-align: center;
  width: 44px;
  height: 44px;
  color: var(--mainWhite);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 0;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timeFunction);
}

.smm__link:hover,
.smm__link:focus {
  background-color: var(--mainBlue);
}

.smm__ico {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Form block in footer */
/* .footer-form {
  display: flex;
  align-items: center;
}

.footer-form__input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
  background-color: var(--darkBg);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form__ico {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 28px;
} */
/* Footer section End */

/* Modal Window section Start */
/* Backdrop */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;

  background-color: rgba(0, 0, 0, 0.2);

  transition-property: visibility, transtate, opacity;
  transition-duration: var(--time);
  transition-timing-function: var(--timeFunction);
} */

/* .backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .backdrop__modal {
  transform: translate(-50%, -50%) scale(0.9);
}  */

/* .backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: scale var(--time) var(--timeFunction);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 6px;
  top: 6px;

  width: 30px;
  height: 30px;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.backdrop__close-ico {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.backdrop__close-ico:hover,
.backdrop__clothe-ico:focus {
  fill: var(--mainBlue);
}  */

/* Form
.form {
  /* outline: 1px solid #757575; */
}

/* .form__title {
  margin: 0 0 12px 0;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  color: var(--mainBlack);
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: var(--mainBlack);
}

.form__input {
  height: 40px;
  margin: 0;
  padding: 0 0 0 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__label {
  font-size: 12px;
  line-height: 1.15;
  color: var(--mainGray);

  margin-bottom: 4px;
}
*/

/* .form__field:focus-within > .form__ico {
  fill: var(--mainBlue);
} */
 
/* .form__field:focus-within > .form__input {
  border: 1px solid red;
} */

/* .form__ico {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  bottom: 11px;

  fill: currentColor;
  transition: fill var(--time) var(--timeFunction);
} */

/* .form__btn {
  padding: 10px 56px;
} */

/* Comment text area */
/* .form__comment {
  resize: none;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.2;
  color: rgba(117, 117, 117, 0.5);
}

.form__field--textarea-block {
  margin-bottom: 20px;
} */

/* Chekbox */
/* .form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  line-height: 1.7;
} */

/* .form__checkbox {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  appearance: none;
  position: absolute;
} */

/* .form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  background-color: var(--mainWhite);
  border: 2px solid var(--mainBlack);
  border-radius: 2px;

  transition: transform var(--time) var(--timeFunction);
} */

/* .form__checkbox:checked + .form__checkbox-icon {
  background-color: var(--mainBlue);
  border-color: var(--mainBlue);
  background-origin: border-box;
}

.form__conditions-link {
  color: var(--mainBlue);
  margin-left: 5px;
}

.form__button-block {
  text-align: center;
} */
/* Modal window section End */

/* PORTFOLIO Main section Start*/
/* Portfolio tab Buttons */
.portfolio-tab {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}

.portfolio-tab__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-tab__btn {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  cursor: pointer;
  font-family: var(--mainFont);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--mainBlack);
  background-color: var(--secondBg);

  transition-property: color, box-shadow, background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--timeFunction);
}

.portfolio-tab__btn:hover,
.portfolio-tab__btn:focus {
  color: var(--mainWhite);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--mainBlue);
}

/* Portfolio block*/
.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
  border: 1px solid var(--mainBorder);
  box-sizing: border-box;
}

.portfolio__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Product block*/
.product {
}

.product__overlay-box {
  display: block;
  position: relative;

  overflow: hidden;
}

.product__img {
  display: block;
}

.product__overlay {
  display: flex;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 63px 24px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.55;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translatey(100%);
  transition: transform var(--time) var(--timeFunction);
}

.portfolio__item:hover .product__overlay {
  opacity: 1;
  transform: translatey(0);
}

.product__content {
  padding: 20px 0;
}

.product__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--mainBlack);
  margin: 0 0 4px 0;
  padding: 0 0 0 24px;
}

.product__text {
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
  padding: 0 0 0 24px;
}
/* PORTFOLIO Main section End */
