/* Second bgColor #F5F4FA  */

:root {
  Main colors
  --mainBlue: #2196f3;
  --secondaryBlue: #188ce8;
  --mainGray: #757575;
  --mainBlack: #212121;
  ---black: #000000;
  --mainWhite: #ffffff;

  /* Bachgraund colors */
  --secondBg: #f5f4fa;
  --darkBg: #2f303a;

  /* Border color */
  --mainBorder: #eeeeee;
  --secondBorder: #ececec;

  /* Font family */
  --mainFont: "Roboto";
  --secondFont: "Raleway";

  /* Icon color */
  --mainIcon: #afb1b8;

  /* Transition */
  --timeFunction: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

/* Site style set */
/* *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--mainGray);
  background-color: var(--mainWhite);
  font-family: var(--mainFont), "Arial", sans-serif;
} */

/* .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: var(--mainGray);
} */

/* Link hover decoration */
/* .nav .link:hover,
.nav .link:focus, */
/* .auth .link:hover,
.auth .link:focus, */
/* .adress__link:hover,
.adress__link:focus {
  color: var(--mainBlue);
} */

/* Section component */
/* .section {
  padding: 94px 0; 
}

.section__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--mainBlack);
  margin: 0 0 50px 0;
}

.section--no-padding {
  padding-top: 0;
} */

/* BEM Sets */

/* Header section Start*/
/* .header {
  border-bottom: 1px solid var(--secondBorder);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* Auth */
/* .auth {
  display: flex;
  justify-content: end;
}

.auth.link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--mainGray);
}

.auth__item:not(:last-child) {
  margin-right: 50px;
}
.auth__link {
  display: flex;
  align-items: center;
  color: var(--mainGray);
} */

/* .auth__ico {
  margin-right: 10px;
  fill: currentColor;
}

.auth__ico--mail {
  width: 16px;
  height: 12px;
}

.auth__ico--phone {
  width: 10px;
  height: 16px;
}

.auth .link {
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--timeFunction);
} */

/* Nav */
/* .nav {
  display: flex;
  align-items: center;
}

.nav .link {
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--timeFunction);
}

.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__list .link {
  position: relative;
  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--mainBlack);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
} */

/* .nav__item .nav__link--current {
  color: var(--mainBlue);
}

.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--mainBlue);
} */

/* Logo */
/* .logo {
  display: inline-block;
  text-decoration: none;
  font-family: var(--secondFont);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--mainBlue);
}

.logo--nav {
  color: var(---black);
}

.logo--footer {
  color: var(--mainWhite);
} */

/* Header sction End */

/* Hero section Start*/
/* .hero {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/head.jpg");
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--mainWhite);
  margin: 0 0 30px 0;
} */

/* Button */
/* .btn {
  display: inline-block;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;

  font-family: var(--mainFont);
  color: var(--mainWhite);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  background-color: var(--mainBlue);
  border: 0;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--time) var(--timeFunction);
}

.btn--hover:hover,
.btn--hover:focus {
  background-color: var(--secondaryBlue);
} */

/* .footer__btn {
  display: flex;
  align-items: center;
  position: relative;

  padding: 10px 62px 10px 29px;
  margin: 0;
} */

/* Hero section End */

/* Features section Start*/
/* .features {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  width: 270px;
}

.features__icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--mainBlack);
  margin: 0 0 10px 0;
}

.features__text {
  line-height: 1.7;
  margin: 0;
} */
/* Features section End */

/* What are we doing section Start */
/* .do {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.do__item {
  position: relative;
}

.do__img {
  display: block;
}

.do__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 27px 0;
  margin: 0;

  color: #fff;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8); */
}
/* What are we doing section End */

/* Team section Start */
.section--team {
  background-color: var(--secondBg);
}