// main.scss
@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./components/page-header";
@import "./components/logo";
@import "./components/page-nav";
@import "./components/auth";
@import "./components/adress";
@import "./components/section";
@import "./components/smm-icons";
@import "./components/modal-form";
@import "./components/portfolio-tab";

// Utils
@import "./utils/utils";
@import "./components/button";
@import "./components/product";

// Sections
@import "./components/hero-section";
@import "./components/feauture-section";
@import "./components/do-section";
@import "./components/team-seection";
@import "./components/clients-section";
@import "./components/footer";
@import "./components/footer-form";
@import "./components/portfolio-section";

// p {
//   @include centredFlex(inline-flex);
// }

// div {
//   @include centredFlex();
// }

// // Mixin + Loop
// @include generateIcons($icons);

// Placeholders
// .link {
//   @extend %link;
//   color: #fff;
// }

// .logo {
//   @extend %link;
//   background-color: $mainColor;
// }

// // Вложенности
// .box {
//   color: $mainColor;
// }

// .button {
//   background-color: $color;

//   &:hover,
//   &:focus {
//     background-color: $mainColor;
//   }

//   .box:hover & {
//     background-color: tomato;
//   }
// }
