// Footer
.footer {
  background-color: $thirdBackgroundColor;
  padding: 60px 0;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__item:first-child {
    margin-right: 70px;
  }

  &__item {
    margin-left: 93px;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 14px;
    line-height: 1.1;
    color: $inversTextColor;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
