// Footer form
.footer-form {
  @include centredFlex(center);

  &__input {
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;

    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
    background-color: $thirdBackgroundColor;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  &__ico {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 28px;
  }
}
