// Mixin
@mixin centredFlex($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}

// Mixin + Loop

@mixin generateIcons($iconList) {
  @each $iconName in $iconList {
    .icon-#{$iconName} {
      background-image: url(../images/#{$iconName}.svg);
    }
  }
}
