// Mixin
@mixin centredFlex($justify: start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// Mixin + Loop

// @mixin generateIcons($iconList) {
//   @each $iconName in $iconList {
//     .icon-#{$iconName} {
//       background-image: url(../images/#{$iconName}.svg);
//     }
//   }
// }
