// Link template
%link {
  text-decoration: none;
  font-style: normal;
  color: $primatyTextColor;
}

// List template
%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Transition
%transition {
  transition-property: color;
  transition-duration: $time;
  transition-timing-function: $timeFunction;
}
