// Text Colors
$primaryTextColor: #757575;
$secondaryTextColor: #000000;
$titleColor: #212121;
$inversTextColor: #ffffff;

// Acent colors
$acentColor: #2196f3;

// Icon colors
$primaryIconColor: #afb1b8;

// Button colors
$btnHoverColor: #188ce8;

// Background Colors
$primryBackgroudColor: #ffffff;
$secondaryBackgroundColor: #f5f4fa;
$thirdBackgroundColor: #2f303a;

// Border Colors
$primaryBorderColor: #eeeeee;
$secondaryBorderColor: #ececec;

// Transitions
$timeFunction: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;

// Font family
$primaryFont: "Roboto";
$secondaryFont: "Raleway";

// Box Shadow
$btnBoxShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

// ----------------
// $color: red;
// $mainColor: #ddd;
// $width: 100px;

// // Icon list
// $icons: "facebook", "github", "linkedin", "twitter", "instagram";
